html,
body {
    height: 100%;
    margin: 0;
}

.flexBox {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#websiteName {
    text-align: center;
}

.map {
    height: 64vh;
    width: 100%;
    max-width: 100%;
}

.map,
#searchSection {
    margin: 0 1vw;
}

#uploadSection {}


#uploadForm {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#uploadSection textarea {
    resize: none;
}

#progressBar {
    position: relative;
    width: 50vw;
    height: 4px;
}

#bar {
    height: 4px;
    background-color: pink;
    transition: 2s ease-in-out;
}

nav {
    background-color: pink;
    height: 60px;
}

.mushroomLogo {
    width: 60px;
}

.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    background-color: #ff009959;
}

.userImg {
    width: 120px;
   
}

#deleteUser {
	display: flex;
	justify-content: center;
	border:1px solid grey;
	border-radius: 4px;
	background-color: white;
	font-size: 10px;
	width: 90px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.myMushroomTile {
    max-width: 255px;
    padding: 16px;
}

.uploadedMushroom {
    width: 225px;
}