<h1>Shroomie</h1>
<input type="text" ng-model="search.name" placeholder="Search">
<div ng-repeat="mushroom in mushrooms | filter:search:strict">
    <div>
        <div>{{mushroom.name}} - {{mushroom.description}}</div>
        <div>{{mushroom.lat}}</div>
        <div ng-bind="mushroom.lat"></div>
        <div ng-bind="mushroom.long"></div>
    </div>
    <!-- {{ mushroom | json }} -->
</div>
<div id="userLogin">
    <a href="#!my-profile">Me</a>
    <button id="loginButton" onclick="login()">Login with Facebook</button>
</div>
<div class="row">
    <div class="geo-map">
        <div class="map" style="height: 50vh;">Map here</div>
    </div>
    <form class="findings-sidebar">
        <input maxlength="40" placeholder="Name of Mushroom" data-input="name" required>
        <textarea maxlength="140" style="resize:none;">Description</textarea>
        <img id="imgUpload" src="" width="100vw">
        <input type="file" accept="image/gif, image/jpeg, image/png" onchange=" showChosenImg(this.files)" required></input>
        <button type="submit" ng-click="updatePost()" ng-disabled="!formValid">Submit</button>
    </form>
</div>
</div>