<h1>Shroomie</h1>
<input type="text" ng-model="search.name" placeholder="Search">
<div ng-repeat="mushroom in mushrooms | filter:search:strict">
    <div>
        <div>{{mushroom.name}} - {{mushroom.description}}</div>
        <div>{{mushroom.lat}}</div>
        <div ng-bind="mushroom.lat"></div>
        <div ng-bind="mushroom.long"></div>
    </div>
    <!-- {{ mushroom | json }} -->
</div>
<div></div>
<div class="row">
    <div class="geo-map">
        <div class="map" style="height: 50vh;">Map here</div>
    </div>
    <div class="findings-sidebar">
        <img id="imgUpload" src="" width="100vw">
        <button onclick="getLocation()">Upload yo' mushroom</button>
        <input style='display: none;' type="file" onchange="uploadFile(this.files)"></input>
        <input maxlength="40" placeholder="Name of Mushroom">
        <textarea maxlength="140">Description</textarea>
        <button type="button" class="btn">Submit</button>
    </div>
</div>
</div>